@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hidden state for fade-in effect */
  .fade-in {
    @apply opacity-0 translate-y-20  transition-all duration-700 ease-in-out;
  }
  /* Visible state for fade-in effect */
  .fade-in-show {
    @apply opacity-100 translate-y-0 ;
  }
}



header ul li{
    @apply px-2 
}

.bg-primary{
    background: #313281;
}
.bg-secondary{
    background: #2b2d77;
}
.bg-header{
    /* background: rgb(14, 12, 12); */
    @apply bg-gray-950;
}

.mobile-nav{
    @apply fixed top-20 bg-gray-950 w-full  h-1/4 left-0 

}
.mobile-nav li {
    @apply w-full h-full text-center py-2 border-t-slate-200;
}

.project-desc{
    @apply absolute left-0 right-0 bottom-0 top-0 bg-primary opacity-0 duration-700 hover:opacity-85 hover:text-base w-full
}

.btn{
    @apply bg-header px-7 py-3  font-bold text-gray-100 hover:border-2 border-gray-100 rounded-md;
}
.project-btn{
    @apply bg-header font-thin px-4 py-2 font-hero-font text-white hover:border-2 border-gray-100 rounded-lg ;
}
.list{
    @apply hover:text-gray-200 ;
}

.logo-clr{
    @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent;
}
/* .logo-clr{
    @apply bg-gradient-to-r from-teal-400 via-blue-500 via-indigo-600 to-purple-700 bg-clip-text text-transparent
} */



.gradient-text{
    @apply text-3xl  bg-gradient-to-r from-[#ff7e5f] to-[#feb47b] bg-clip-text text-transparent
}

.hover-effect{
    @apply border-b-4 border-transparent group-hover:border-[#ea0069] transition-all duration-300
}
html{
    scroll-behavior: smooth;
}